.btnn {
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  border: rgb(174, 0, 255) solid 2px;
  border-radius: 7px;
}
.btnn:hover {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 11px;
  background-color: rgb(174, 0, 255);
}