.adminAddTable {
  margin-top: 80px;
  background-color: rgba(5, 179, 5, 0.023);
}

.admin-content-text-table {
  color: #161616;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  text-align: left;
}

.item-delete-edit-table {
  color: #979797;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
}

.text-form-table {
  color: #097330;
  font-family: "sans-serif";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: left;
}

.input-form-table {
  height: 37px;
  width: 100%;
  border: 1px solid #09a348;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-form-table-area {
  width: 100%;
  border: 1px solid #09a348;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.selectt {
  box-sizing: border-box;
  height: 40px;
  color: #09440efa;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
}

.btn-save-table {
  border: none;
  color: white;
  height: 46px;
  width: 150px;
  border-radius: 9px;
  background-color: #0edf5c;
  font-weight: 500;
  transition: 0.8s;
}

.btn-save-table:hover {
  color: rgb(0, 0, 0);

}

.btn-a {
  border: none;
  color: white;
  height: 45px;
  border-radius: 9px;
  background-color: #1ca065;
}

.btn-a:hover {
  color: rgb(12, 168, 119);
}
.btn-table{
  background-color: rgb(14, 219, 14);
}