.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
}

.page-link {
  padding: 10px;
  border: 1px solid #00000015;
  border-radius: 5px;
  text-decoration: none;
  color: #cd07df;

}

.page-link:hover {
  background-color: #cd07df;
  color: white;
  
}

.active .page-link {
  font-weight: bold;
  background-color: #cd07df;
  color: white;
  border: 1px solid #cd07df;
}
