.container_r {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.management-rooms-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sidebarAH{
  flex: 1;
  max-width: 20%;
  margin-top: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-left: 0;
}

.rooms {
  flex: 3;
  max-width: 75%;
  margin-top: 2rem;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.room-item {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  justify-content: center;
}

.page-item {
  margin: 0 0.5rem;
}

.page-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.active {
  background-color: #007bff;
  color: #fff;
}

.divider {
  background-color: rgba(141, 17, 199, 0.938);
  border: 0;
  height: 2px;
  margin: 1rem 0;
}


@media (max-width: 1200px) {
  .rooms {
    max-width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebarAH{
    max-width: 18%;
  }

}

@media (max-width: 992px) {
  .management-rooms-content {
    /* flex-direction: column; */
  }
}

@media (max-width: 788px) {
  .sidebarAH{
    max-width: 30%;
  }
  .rooms {
    max-width: 70%;
  }
}

@media (max-width: 576px) {
  .management-rooms-content {
    flex-direction: column;
  }
  .sidebarAH {
    max-width: 100%;
    order: 1; 
    margin-top: 4rem;
  }
  .rooms {
    max-width: 100%;
    order: 2;
  }
  .rooms-list {
    flex-direction: column;
  }
  .room-item {
    flex: 1 1 100%;
  }
}