/* .imgMn{
    height: 700px;
    margin-top: 25px;

}
.divImgMn{
    background: linear-gradient(to right, #111111, rgba(254, 180, 123, 0)); 
    height: 700px; 
}
.titleIm h1{
    padding-top: 10%;
    font-size: 60px;
    font-weight: 500;
    margin-left: 10%;
    color: white;

}


.menuMn {
  background-color: rgb(164, 0, 214);
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 50px;
}


.menuContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.menuList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.menuListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.menuDesc {
  margin: 20px 0px;
}

.menuBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.menuSearch {
  height: 80px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 255, 34);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  bottom: -25px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.menuIcon {
  color: lightgray;
}
.menuSearchItem {

  display: flex;
  align-items: center;
  gap: 10px;
}

.menuSearchText {
  color: lightgray;
  cursor: pointer;

}

.dateMn {
  position: absolute;
  top: 50px;
  z-index: 2;
  top: 575px;
}

.optionsMn {
  z-index: 2;
  position: absolute;
  top: 575px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #1eff0a;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.blackThemeStyle  {
  background-color: black;
  color: wheat;
  display: 'inline-block';
  font-weight: 600
}; */

.imgMn {
  height: 700px;
  margin-top: 25px;
}

.divImgMn {
  background: linear-gradient(to right, #111111, rgba(254, 180, 123, 0));
  height: 700px;
}

.titleIm h1 {
  padding-top: 10%;
  font-size: 60px;
  font-weight: 500;
  margin-left: 10%;
  color: white;
}

.menuSearch {
  height: 80px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 255, 34);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  bottom: -25px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.menuSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuIcon {
  color: lightgray;
}

.menuSearchText {
  color: lightgray;
  cursor: pointer;
}

.optionsMn {
  z-index: 2;
  position: absolute;
  background-color: white;
  color: gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #1eff0a;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.menuBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1200px) {
  .titleIm h1 {
      font-size: 50px;
      margin-left: 5%;
  }
  .divImgMn {
    height:100%;


  }
  .imgMn {
        height: 600px; /* Adjust height as needed */
    }
}

@media (max-width: 992px) {
  .imgMn {
    height: 500px; /* Adjust height as needed */
}
  .titleIm h1 {
      font-size: 35px;
      margin-left: 2%;
      text-align: center;
      color: rgb(5, 10, 5);
      text-shadow: 2px 0 #ffffff38, -1px 0 #ffffff69, 0 1px #ffffff2c, 0 -1px #ffffff69,
             1px 1px #ffffff69, -1px -1px #ffffff69, 1px -1px #ffffff69, -1px 1px #ffffff2c;
             
  }

  .menuSearch {
    margin-top: auto;
    margin-bottom: auto;
      width: 90%;
  }
}

@media (max-width: 768px) {
  .menuSearchText input ,.menuSearchText select {
    margin-top: 1rem;
  }

  .titleIm h1 {
      font-size: 30px;
      margin-left: 0;
      padding-top: 5%;
  }

  .menuSearch {
      height: auto;
      flex-direction: column;
      justify-content: center;
  }

  .menuSearchItem {
      flex-direction: column;
      margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .imgMn {
    height: 450px; /* Adjust height as needed */
}
  .titleIm h1 {
      font-size: 25px;
  }

  .menuSearch {
      width: 100%;
  }

  .optionItem {
      width: 150px;
  }
}
